    <h1 class="head">Help:
        <a class="ui-corner-all tooltip" href="<{$xoops_url}>/modules/<{$smarty.const._MI_LEGALS_DIRNAME}>/admin/index.php"
           title="Back to the administration of <{$smarty.const._MI_LEGALS_NAME}>"> <{$smarty.const._MI_LEGALS_NAME}>
            <img src="<{xoAdminIcons home.png}>"
                 alt="<{$smarty.const._MI_LEGALS_BACK_2_ADMIN}> <{$smarty.const._MI_LEGALS_NAME}>"/>
        </a></h1>

    <h4 class="odd">Installation (Fresh Installation)</h4><br/>
