<div id="help-template" class="outer">
    <{include file=$smarty.const._MI_LEGALS_HELP_HEADER}>

    <h4 class="odd">Description</h4>

    <p class="even">With this module you can easily add a 'Legals' page to you Website. You can also add sub-pages, as well as external links. <br /> <br />
        </p>

<h4 class="odd">Install/uninstall</h4>

<p class="even">No special measures necessary, follow the standard installation process –
    extract the module folder into the ../modules directory. Install the
    module through Admin -> System Module -> Modules.<br /> <br />
    Detailed instructions on installing modules are available in the
    <a href="https://www.gitbook.com/book/xoops/xoops-operations-guide/" target="_blank">XOOPS Operations Manual</a> </p>


<h4 class="odd">Operating instructions</h4>

This module and its operations are very simple.<br /> <br />
Detailed instructions on configuring the access rights for user groups are available in the
<a href="https://www.gitbook.com/book/xoops/xoops-operations-guide/" target="_blank">XOOPS Operations Manual</a><br /> <br />

<h4 class="odd">Tutorial</h4>

<p class="even">Tutorial is available soon on <a href="https://github.com/mambax7/about-tutorial">GitHub</a> </p>

</div>
